.description {
  white-space: pre-line; // Giữ nguyên các ký tự xuống dòng
  margin-top: 30px;
}

.event-detail-container {
  margin-top: 40px;
}

.donate-button {
  background-color: #e74c3c; // màu đỏ cam
  color: white;
  padding: 14px 90px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 20px 0;

  &:hover {
    background-color: #c0392b; // màu đỏ cam đậm hơn khi hover
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(0);
  }
}

.donation-history {
  margin-bottom: 90px;
}

.event {
  margin-bottom: 100px;
}

.donation-summary {
  text-align: center;
  margin-top: 20px;
}

.donation-summary h2 {
  font-size: 2rem;
  color: #333;
}

.donation-summary p {
  margin: 5px 0;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 20px;
  margin: 10px 0;
  overflow: hidden;
}

.progress {
  background-color: #3f51b5; /* Màu của thanh tiến trình */
  height: 100%;
  transition: width 0.5s;
}
