.pets-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #D9293E; /* Thêm màu sắc để tiêu đề nổi bật */
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

    input, select {
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 150px;
      font-size: 1em;

      &:focus {
        border-color: #D9293E;
        outline: none;
      }
    }

    button {
      padding: 10px 20px;
      background-color: #f1cf7e;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f1cf7e;
      }
    }
  }

  .pets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .pet-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    background-color: #f6f6f6;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: scale(1.03);
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
    }

    p {
      font-size: 0.9em;
      color: #000000;
      margin: 5px 0;
    }

    button {
      margin-top: 10px;
      padding: 8px 16px;
      background-color: #f1cf7e;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f1cf7e;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    button {
      margin: 0 5px;
      padding: 10px 20px;
      background-color: #f3f3f3;
      border: 1px solid #ddd;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover {
        background-color: #e2e2e2;
        border-color: #ccc;
      }

      &.active {
        background-color: #D9293E;
        color: white;
        border-color: #D9293E;
      }
    }
  }
}
