.pet-info-report {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .pet-image-report {
    margin-right: 20px;

    .img-report {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .pet-details {
    p {
      margin: 5px 0;
      font-size: 16px;
    }
  }
}

.report-detail-container {
  display: flex;
}

.pet-info {
  padding: 20px;
}

.report-info {
  padding: 60px;
}

.month-dropdown {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.report-item {
  margin-bottom: 30px;
}

.report-date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.report-video {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
